@model RegisterViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form class="card-body cardbody-color p-lg-5" asp-controller="Home" asp-action="Index" method="post">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <h2 class="text-center text-dark mt-5">Register New Account<br><br></h2>

                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="FirstName" class="label-control"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="LastName" class="label-control"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="MiddleName" class="label-control"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Email" class="label-control"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Phone" class="label-control"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Address" class="label-control"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="City" class="label-control"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label asp-for="Zip" class="label-control"></label>
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>


                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Create Account </button></div>
                    <div class="form-text text-center mb-5 text-dark">
                        Don't have an existing account? <a href="/Home/Login" class="signUp-text"> Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
